

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>

{% load static %}
<div id="bdmushtari" onclick = "$('#bdmushtari').hide()" class="list-group">
    <label class="list-group-item d-flex gap-3">
      <input id="s" class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;"  >
      <span class="pt-1 form-checked-content">

   <img src="{% static 'main/img/result.jpg' %}"  alt="Bootstrap" width="100" height="100" class="rounded-circle border border-white">
      </span>
<script src="{% static 'main/js/jguery.js'%}"></script>

</body>
</html>